.course-layout {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sidebar {
	width: 30%;
	padding: 20px 20px 0 0;
	border-right: 1px solid #ccc;
	height: 100%;
	position: fixed;
	top: var(--header-height);
	left: 0;
	overflow-y: auto;
	z-index: 1;
	background-color: #c8d8d3;
}

.tab {
	cursor: pointer;
	padding: 1.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.tab:hover {
	background-color: #d1e0ed;
}

.tab.active {
	background-color: #d1e0ed;
	font-weight: bold;
}

.content {
	position: relative;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 30%;
}

.video-player {
	margin-bottom: 20px;
}

.videoControl {
	width: 100%;
	height: 400px;
}

.notes {
	padding: 20px;
	border-radius: 5px;
}

.notes h2 {
	margin-bottom: 1rem;
}
