.course-layout {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sidebar {
	width: 30%;
	padding: 20px;
	border-right: 1px solid #ccc;
	height: 100%;
	position: fixed;
	top: var(--header-height);
	left: 0;
	overflow-y: auto;
	z-index: 1;
	background-color: white;
}

.tab {
	cursor: pointer;
	padding: 1.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	border-bottom: 1px solid rgb(197, 197, 197);
	position: relative;
}

.btnCont {
	display: flex;
	justify-content: center;
	align-items: center;
}

.registerBtn {
	padding: 1rem 1.5rem;
	background-color: var(--dark-blue-color);
	border-radius: 20px;
	color: white;
}

.registerBtn:hover {
	background-color: var(--hover-blue-color);
}

.watched {
	background-color: green;
	border-radius: 50%;
	padding: 0.2rem 0.5rem;
	position: absolute;
	right: 1rem;
}

.watched svg {
	width: 12px;
	color: white;
}

.tab:hover {
	background-color: #d1e0ed;
}

.tab.active {
	background-color: #d1e0ed;
	font-weight: bold;
	border-left: 5px solid #697cac;
}

.content {
	position: relative;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 30%;
	background-color: #fbfbfb;
	min-height: 100vh;
}

.instructions {
	padding: 2rem;
}

.instructions h2 {
	margin-bottom: 1rem;
}

.instructions .desc1 {
	margin-bottom: 2rem;
}

.instructions .desc2 {
	margin-bottom: 1rem;
}

.instructions ul {
	list-style: none;
}

.instructions ul li {
	margin-bottom: 1rem;
}

.instructions ul li p {
	margin-bottom: 1rem;
}

.title {
	padding: 20px;
	margin-bottom: 2rem;
}

.video-player {
	margin-bottom: 20px;
}

.videoControl {
	width: 100%;
	height: 400px;
}

.notes {
	padding: 20px;
}

.notes h2 {
	margin-bottom: 1rem;
}
