/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* --------------------------------------- Variables --------------------------------------- */
:root {
	/* Header height */
	--header-height: 6rem;

	/* Colors */
	--orange-color: #ff8300;
	--dark-blue-color: #697cac;
	--hover-blue-color: hsl(223, 29%, 40%);
	--light-blue-color: #d1e0ed;
	--body-color: #010101;
	--nav-color: #101010;
	--light-grey-color: #f8f7f9;

	/* Font family */
	--body-font: "Open Sans", sans-serif;

	/* Font sizes */
	--big-font-size: 3rem;
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.938rem;
	--smaller-font-size: 0.813rem;
}

/* Font sizes for larger devices */
@media screen and (min-width: 768px) {
	:root {
		--big-font-size: 4rem;
		--h1-font-size: 3rem;
		--h2-font-size: 2rem;
		--h3-font-size: 1.5rem;
		--normal-font-size: 1.25rem;
		--small-font-size: 1rem;
		--smaller-font-size: 0.938rem;
	}
}

/* --------------------------------------- Global changes --------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
}

section {
	padding-top: var(--header-height);
	width: 100%;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

.btn {
	padding: 1rem 1.5rem;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 20px;
	font: inherit;
}
